*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "lato";
}
.portfolio{
    width: 900px;
    margin: 0 auto;
}
.portfolio-item{
    width: 300px;
    height: 400px;
    float: left;
    margin-top: 60px;
    position: relative;
    -webkit-perspective: 500;
}
.portfolio-bg{
    transform: rotateY(30deg);
    transition: transform 0.5s ease;
    width: 100%;
}
.portfolio-bg{
    height: 400px;
}
.portfolio-item:hover .portfolio-bg{
    transform: rotateY(0deg);
}
.portfolio-item:hover .portfolio-description{
    transform: rotateY(0deg) translateZ(0px);
}
.portfolio-description{
    background-color: #1f1f1f;
    color: #fff;
    font-size: 20px;
    width: 190px;
    padding: 20px;
    position: absolute;
    top: 220px;
    left: 35px;
    box-shadow: 0 0 10px #000;
    transform: rotateY(30deg) translateZ(60px);
    transition: 0.5s ease;
    text-align: center;
    height: 200px;
    overflow: hidden;
}
.portfolio-description h4{
    text-align: center;
    text-transform: uppercase;
}
.portfolio-description p{
    font-size: 16px;
    line-height: 25px;
}

